.hero{
    background-image: url(../../images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 290px;
    padding-bottom: 453px;
    padding-left: 175px;
    display: flex;
    align-items: center;
    &__heading{
        margin: 0;
        padding: 0;
        max-width: 533px;
        margin-bottom: 64px;
        font-weight: 700;
        font-size: 42px;
        line-height: 125.34%;
        color: #5D748A;

    }
    &__box-bottom{
        display: flex;
        align-items: center;
    }
    &__link{
        padding: 13px 24px;
        margin-right: 16px;
        text-decoration: none;
        background: linear-gradient(166.82deg, #FEA244 -0.4%, #FD9147 61.84%);
        box-shadow: 0px 4px 22px rgba(253, 145, 71, 0.4);
        border-radius: 50px;
        font-weight: 500;
        font-size: 17px;
        line-height: 20px;
        color: #FFFFFF;
    }
    &__link:hover{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}
@media only screen and (max-width:1030px) {
    .hero{
        padding: 284px 20px 421px 108px;
        background-size: contain;
        &__box{
            width: 364px;
        }
        &__heading{
            font-weight: 700;
            font-size: 26px;
            line-height: 125.34%;
            color: #5D748A;
        }
        &__link{
            padding: 8px 13px;
            font-size: 17px;
            line-height: 17px;
        }
        &__img{
            width: 480px;
            height: 494px;
            margin-left: 32px;
        }
    }
}
@media only screen and (max-width:800px) {
    .hero{
        // padding: 80px 28px 30px 28px;
        flex-direction: column;
    }
}